<h2>貸出一覧</h2>

<p>検索、並び替えなどは TODO... </p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Long name</th>
      <th>Os</th>
      <th>Carrier</th>
      <th>User</th>
      <th>State changed</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each_with_index do |device, idx| %>
      <tr>
        <td><%= device.number %></td>
        <td><%= link_to device.name, edit_device_path(device) %></td>
        <td><%= device.long_name %></td>
        <td><%= os_name device %></td>
        <td><%= device.try(:carrier) || '-'  %></td>
        <td><%= device.user.try(:name) || '-' %></td>
        <td><%= device.user && tf(device.lock_at) || '-' %></td>
        <td>
          <% if using? device.user %>
            <%= link_to '返す', release_device_path(device),
              method: :post, class: 'btn btn-xs btn-warning' %>
          <% else %>
            <%= link_to '使う', use_device_path(device),
              method: :post, class: 'btn btn-xs btn-default' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

