<h1>一覧</h1>

<p>検索、並び替えなどは TBD... </p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Long name</th>
      <th>Os</th>
      <th>User</th>
      <th>use from</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each_with_index do |device, idx| %>
      <tr>
        <td><%= device.number %></td>
        <td><%= link_to device.name, edit_device_path(device) %></td>
        <td><%#= device.attributes %><%= device.long_name %></td>
        <td><%= device.os %></td>
        <td><%= device.user_id || '-' %></td>
        <td><%= device.user_id && tf(device.lock_at) || '-' %></td>
        <td>
          <% if using? device.user_id %>
            <%= link_to '返す', release_device_path(device), method: :post, class: 'btn btn-xs btn-default' %>
          <% else %>
            <%= link_to '使う', use_device_path(device), method: :post, class: 'btn btn-xs btn-default' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device', new_device_path %>
